@use "./_colors.scss" as colors;
@use "../abstracts";

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  overflow-x: hidden;
}

.h1-style {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  color: colors.$light;
  margin-block: 1rem;
  
  font-size: 6.25rem;
  line-height: 6.25rem;
  letter-spacing: -2.5px;

  @include abstracts.breakpoint-up(medium) {
    font-size: 10.9375rem; //175px
    line-height: 10.9375rem;
    letter-spacing: -4.375px;
  }

  @include abstracts.breakpoint-up(large) {
    font-size: 12.5rem;
    line-height: 12.5rem;
    letter-spacing: -5px;
  }
}

.h2-style {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;

  @include abstracts.breakpoint-up(medium) {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  @include abstracts.breakpoint-up(large) {
    font-size: 3.5rem;
    line-height: 4.25rem;
  }
}

.h3-style {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: colors.$light;
  margin-block: 0;

  @include abstracts.breakpoint-up(medium) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 3.6px;
  }

  @include abstracts.breakpoint-up(large) {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 4.8px;
  }
}

.h4-style {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: colors.$light;
  margin-block: 0;

  @include abstracts.breakpoint-up(medium) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 3.6px;
  }

  @include abstracts.breakpoint-up(large) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 4px;
  }
}

.h5-style {
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: colors.$light;

  @include abstracts.breakpoint-up(medium) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  @include abstracts.breakpoint-up(large) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.h6-style {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  margin-block: 0;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include abstracts.breakpoint-up(medium) {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 2.6px;
  }

  @include abstracts.breakpoint-up(large) {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 3px;
  }
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: colors.$light;

  @include abstracts.breakpoint-up(medium) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

blockquote {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: colors.$light;

  @include abstracts.breakpoint-up(medium) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
